.sidebar-bottom form {
    margin-top: 20px;
    position:fixed;
    bottom : 0;
    padding : 1.5%
  }
  
  .sidebar-bottom form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .sidebar-bottom form input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .sidebar-bottom form button[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sidebar-bottom form button[type="button"]:hover {
    background-color: #0062cc;
  }

  .button-wrapper {
    display: flex;
    flex-direction: column;
    padding : 5%;
    overflow-y: auto;
  }

  .button-wrapper button {
    margin-bottom: 5%;
  }