html,
#root,
body {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.map-contatiner {
    width: 100%;
    height: 50vh;
}

.cards {
    justify-content: center;
    max-width: 90% !important;
    height: 100%;
    flex-grow: 1;
    display: flex;
}

h1 {
    text-align: center;
}

.cards__container {
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    justify-content: center;
    width: 90%;
    height: 100%;
}
@media (max-width: 768px) {
    .cards__container {
        margin: 0px;
    }
}

.cards__wrapper {
    position: relative;
    margin-top: 50px;
    margon-bottom: 45px;
    width: 100%;
}

.cards__items {
    list-style-type: none;
    margin-bottom: 4rem;
    width: 100%;
    justify-content: center;
}

.cards__item {
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
}

.cards__item__link {
    display: flex;
    flex-flow: column;
    background: #fff;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
}

.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
}

.cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
}

.cards__item__img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    width: 40%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.cards__item__img:hover {
    transform: scale(1.1);
}

.cards__item__info {
    padding: 20px 30px 30px;
}

.cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
}

.cards_Drone_info {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    border-radius: 1em;
    padding: 0.5em 0;
    box-shadow: 6px 6px 8px 0px makerShadow;
    max-width: 30rem;
    width: 100%;
    background-color: makerDark;
    color: makerWhite;
}

.Drone_text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 10px 10px;
}

.Drone_ID {
    color: #252e48;
    font-size: 25px;
    line-height: 31px;
    padding: 10px 10px 10px;
}

@media only screen and (min-width: 1200px) {
    .content__blog__container {
        width: 84%;
    }
}

@media only screen and (max-width: 1024px) {
    .cards__item {
        margin-bottom: 2rem;
    }
}
